/* 
------------------------
# # # CSS Template # # #
------------------------
- Cursor And Display
- Height And Width
- Text And Font
- Border, Margin, Padding
- Color And Background
- Transition And Animation
*/

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

/* Update Feature */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} *::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    background: #fef6e4;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 100vh;
    width: 80vw;
}

/* Navigation Bar */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 1200px;

    font-family: 'Montserrat', sans-serif;

    padding: 10px 0;
} .nav-brand {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} .nav-brand img.brand-img-top {
    width: 65px;
    height: 65px;
    
    margin: 0 10px 0 0 ;
} .nav-brand a.brand-ttl {
    text-decoration: none;
    font-size: 28px;

    color: #172c66;
} .nav-brand a.brand-ttl:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
} .nav-links {
    display: flex;
    flex-direction: row;
} .nav-links li {
    margin: 0 10px;

    list-style: none;
} .nav-links li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;

    color: #172c66;
} .nav-links li a:hover {
    color: #f582ae;
} .nav-links li button {
    cursor: pointer;
    border: none;

    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

    color: #172c66;
    background: none;
} .nav-links li button:hover {
    color: #f582ae;
} .nav-links .parent-social {
    position: relative;
} .nav-links .parent-social .children-social {
    border: 3px solid #001858;
    border-bottom: none;

    background: #fef6e4;

    position: absolute;
    z-index: 1;
    top: 30px;
    right: -25px;
} .show {
    display: none;
} .children-social li {
    border-bottom: 3px solid #001858;
    margin: 0;
    padding: 10px 10px;
} .children-social li:hover {
    background: #f3d2c1;
} .children-social li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;

    color: #001858;
}

/* Content Of Web */
.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 1200px;

    margin: 50px 0;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 1200px;
}

.description-me {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 50%;
} .description-me h1 {
    cursor: default;

    font-size: 100px;
    font-family: 'Open Sans', sans-serif;

    border-radius: 15px 15px 0 0;
    padding: 10px;
    
    color: #172c66;
} .description-me h1:hover {
    background: #f3d2c1;
} .description-me p {
    cursor: default;

    font-size: 30px;
    font-family: 'Open Sans', sans-serif;

    border-top: 5px solid #172c66;
    padding: 10px;

    color: #172c66;
}

.profile-photo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    width: 50%;
} .profile-photo .frame-img {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    width: 425px;
    height: 425px;

    border-radius: 30px;

    background: #f3d2c1;
} .profile-photo .profile {
    width: 425px;
    height: 425px;

    border-radius: 30px;

    transition: 0.5s;

    filter: grayscale(50%);
} .profile-photo .profile:hover {
    transform: translate(-20px, 0);
}

/* Project */
.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 1200px;

    margin: 80px 0;
} .project .frame-project-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

    border-bottom: 5px solid #172c66;
} .project .project-title {
    cursor: default;

    font-size: 30px;
    font-family: 'Open Sans', sans-serif;

    border-top: 5px solid #172c66;
    border-right: 5px solid #172c66;
    border-left: 5px solid #172c66;
    padding: 15px 30px;

    color: #172c66;
} .project .frame-project-card {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 500px;
    width: 1200px;

    font-size: 50px;
    font-family: 'Open Sans', sans-serif;

    border: 5px solid #172c66;
    margin: 30px;

    color: #172c66;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 200px;

    border: 3px solid #172c66;
    border-radius: 15px 15px 0 0;
    padding: 7px;

    background: #f3d2c1;

    position: fixed;
    bottom: 5px;
    right: 5px;
} .footer .brand-img-btm {
    height: 30px;
    width: 30px;
    
    margin: 0 10px 0 0 ;
} .footer p {
    font-size: 10.5px;
    font-family: 'Montserrat', sans-serif;

    color: #172c66;
}

/* Check Added */
.popup {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;

    border: 3px solid 172c66;
    border-radius: 15px;

    background: #f3d2c1;
    color: #172c66;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} .popup::backdrop {
    background: #172c66;
    opacity: 0.5;
} .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-bottom: 3px solid #172c66;
} .popup .message {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
} .popup #close {
    cursor: pointer;
    font-size: 20px;

    border: none;
    border-radius: 15px;
    margin: 0 20px;
    padding: 0 5px 2px 5px;

    color: #172c66;
    background: none;

    transition: 0.3s;
} .popup #close:active {
    border: none;
} .popup #close:hover {
    transform: scale(1.3);
} .popup p {
    margin: 10px 20px;
}
