/* 
------------------------
# # # CSS Template # # #
------------------------
- Cursor And Display
- Height And Width
- Text And Font
- Border, Margin, Padding
- Color And Background
- Transition And Animation
*/

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} *::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    background: #fef6e4;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 100vh;
    width: 80vw;
}

/* Navigation Bar */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 1200px;

    font-family: 'Montserrat', sans-serif;

    padding: 10px 0;
} .nav-brand {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} .nav-brand img.brand-img-top {
    width: 65px;
    height: 65px;
    
    margin: 0 10px 0 0 ;
} .nav-brand a.brand-ttl {
    text-decoration: none;
    font-size: 28px;

    color: #172c66;
} .nav-brand a.brand-ttl:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
} .nav-links {
    display: flex;
    flex-direction: row;
} .nav-links li {
    margin: 0 10px;

    list-style: none;
} .nav-links li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;

    color: #172c66;
} .nav-links li a:hover {
    color: #f582ae;
}

/* Content Of Web */
.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 1200px;

    margin: 50px 0;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 1200px;
}

.description-me {
    width: 50%;
} .description-me h1 {
    cursor: default;

    font-size: 65px;
    font-family: 'Open Sans', sans-serif;

    border-radius: 15px 15px 0 0;
    padding: 10px;

    color: #172c66;
} .description-me h1:hover {
    background: #f3d2c1;
}
.description-me p {
    cursor: default;

    font-size: 30px;
    font-family: 'Open Sans', sans-serif;

    border-top: 3px solid #172c66;
    padding: 5px 0 0 0;

    color: #172c66;
}

.profile-photo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    width: 50%;
} .profile-photo .frame-img {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    width: 425px;
    height: 425px;

    border-radius: 30px;

    background: #f3d2c1;
} .profile-photo .profile {
    width: 425px;
    height: 425px;

    border-radius: 30px;

    transition: 0.75s;
} .profile-photo .profile:hover {
    transform: translate(-20px, 0);
}

/* Project */
.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 1200px;

    margin: 30px 0;
} .project .frame-project-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

    border-bottom: 3px solid #172c66;
} .project .project-title {
    cursor: default;

    font-size: 30px;
    font-family: 'Open Sans', sans-serif;

    border-top: 3px solid #172c66;
    border-right: 3px solid #172c66;
    border-left: 3px solid #172c66;
    padding: 10px 20px;

    color: #172c66;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 200px;

    border: 3px solid #172c66;
    border-radius: 15px 15px 0 0;
    padding: 7px;

    position: absolute;
    bottom: 5px;
    right: 5px;
} .footer .brand-img-btm {
    width: 30px;
    height: 30px;
    
    margin: 0 10px 0 0 ;
} .footer p {
    font-size: 10.5px;
    font-family: 'Montserrat', sans-serif;

    color: #172c66;
}
